/***** new price plan *****/

.newPlanContainer {
  background-color: white;
}

#price {
  font-weight: 800;
  margin-right: 18px;
  font-size: 1.3rem;
}

.newPlanContent {
  text-align: center;
  margin-left: 20px;
  padding: 10px;
}

#planStart {
  color: rgb(2, 2, 2);
}

#new {
  background-color: var(--netflixRed);
  margin-right: 20px;
  color: var(--netflixWhite);
  padding: 5px;
  border-radius: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

#learnMore {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 2px;
  text-decoration: none;
}

#greaterIcon {
  /* font-size: 1.5rem; */
  font-stretch: extra-condensed;
}
/***** new price plan end*****/
/*****************************/

.container-fluid2 {
  padding: 0;
  max-width: fit-content;
  width: 100%;
}

/***** navbar *****/
.navigationBar {
  height: 90px;
  padding: 20px 320px 0px 320px;
  display: flex;
  align-items: center;
}

.navigationBar img {
  max-width: 145px;
}

.main-buttons {
  margin-left: auto;
}

:is(.outline):active {
  background-color: rgba(0, 0, 0, 0.25) !important;
  color: var(--netflixWhite) !important;
}

:is(.outline):hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--netflixWhite);
}

.dropdown-menu {
  background-color: #756d6d;
  min-width: auto;
  min-height: 1rem;
}

a:hover {
  background-color: rgb(108, 108, 221);
}

/* English dropdown item */
#dropdown-op1 {
  margin-top: -8px;
}

/* Spanish dropdown item */
#dropdown-op2 {
  margin-bottom: -8px;
}

/* Dropdown item menu */
.dropdown-item {
  /* overflow: hidden;
  line-height: 1.3em;
  white-space: nowrap; */
  padding: 0 1.75rem;
  /* font-size: large; */
  /* padding: 0 !important; */
  font-size: small;
  color: var(--netflixWhite);
  /* background-color: rgba(0, 0, 0, .25); */
}
/*****    navbar end     *****/
/*****************************/

/*** section 1 get started ***/
.top-middle {
  /* margin: 190px 495px; */
  /* margin: 190px 495px; */
  margin-top: 190px;
  margin-bottom: 190px;
  margin-left: 195px;
  margin-right: 195px;
  text-align: center;
}

#unlimitedMovies {
  margin-bottom: 0;
  font-family: "Martel Sans", sans-serif;
  font-size: 2.5rem;
  /* font-weight: 700; */
  /* margin: 0 auto; */
  /* overflow: auto; */
  /* display: inline-block; */
  /* overflow: hidden; */
  /* text-align: center; */
  /* align-content: flex-start; */
  /* width: 856.67px; */
  /* width: 20%; */
  /* height: 163.58px; */
}

#watch-anywhere {
  /* 843 x25.31 */
  /* overflow: auto; */
  display: inline-block;
  overflow: hidden;
  text-align: center;
  /* align-content: flex-start; */
  color: var(--netflixWhite);
  width: 843px;
  height: 25.31px;
  margin-top: 10px;
}

.tvArea {
  border-top: 10px solid var(--netflixBorderBox);
  /* padding-bottom: 500px; */
  background-color: var(--netflixBlack);
  display: flex;
  margin: 0 auto;
  /* justify-content: space-between; */
  justify-content: center;
  max-width: 100%;
  width: 100vw;
  /* align-items: center; */
}

.right-div {
  margin: 250px 710px 90px 10px;
  /* padding-right: 0; */
  width: 250px;
  height: 250px;
  position: relative;
  max-width: 600px;

  /* border: pink 5px solid; */
}

#download-section-left-div-image {
  /* width: 50%;
  margin-right: 0;
  margin-left: 1000px;
  overflow: hidden;
  align-content: flex-end;
  text-align: right; */
  margin: 250px 710px 90px 10px;
  width: 250px;
  height: 250px;
  position: relative;
}

.right-div-backwards {
  /* border: 6px solid orange;
  border-top: 10px solid var(--netflixBorderBox);
  background-color: var(--netflixBlack);
  /* display: flex; */
  /* padding: 0; */
  /* margin: 0 50%; */
  /* margin-top: 50px; */
  /* max-width: 100%; */
  /* width: 75%; */

  margin: 20px 710px 90px 10px;
  width: 250px;
  height: 250px;
  position: relative;
}

.right-div-h1 {
  width: 550px;
  margin-top: 100px;
  margin-bottom: 12px;
  margin-left: 0;
  padding-right: 0px;
  overflow: hidden;
  /* line-height: 1.12; */
  font-size: 3.125rem;
  /* border: red solid 5px; */
}

.right-div-h3 {
  width: 900px;
  height: 26px;
  /* border: 3px solid white; */
  /* overflow: hidden; */
}

#download-animation-icon {
  position: absolute;
  background-color: white;
  width: 1000px;
}

#phone-image {
  /* z-index: 10; */

  /* width: 20px; */
  position: absolute;
  border-radius: 30px;
  background-color: green;
  width: 900px;
}

.left-div {
  margin-top: 210px;
  margin-right: -450px;
  margin-bottom: 90px;
  margin-left: 150px;
  padding-right: 0px;
  /* border: red 5px solid; */
  overflow: hidden;
  /* flex: auto; */
  /* justify-content: flex-end; */
  align-content: flex-end;
  text-align: left;
  /* border: 5px solid yellow; */
}

#left-div-h1 {
  /* text-align: left; */
  line-height: 1.1;
  font-size: 3.125rem;
  margin: 0;
  /* position: relative; */
  /* align-items: center; */
  /* text-align: center; */
  margin-bottom: 1rem;
  /* margin-right: 50px; */
  /* padding: 0; */
}

#left-div-h3 {
  /* margin: 90px; */
  /* margin-right: 90px; */
  height: 100px;
  width: 75%;
  font-size: 1.625rem;
  text-align: left;
  /* font-weight: 400; */
  /* justify-content: left; */
  /* border: red solid 5px; */
}
/*** section 1 get started end***/
/*******************************/

input {
  /* height: 70px;
  width: 580px; */
  width: 350px;
  /* background-color: transparent; */
  height: 52px;
}

::placeholder {
  color: #bababa;
}

.email-section {
  width: 30px;
  display: inline;
  text-align: center;
}

#get_started {
  color: var(--netflixWhite);
  background-color: var(--netflixRed);
  font-size: 18pt;
  font-weight: bolder;
  margin-top: 5px;
  border-radius: 8px;
  height: 52px;
}

#email-input {
  padding-top: 9px;
  padding-left: 10px;
  margin-right: 8px;
  font-size: 10pt;
  text-align: left;
  border-radius: 8px;
  color: var(--netflixWhite);
  background: rgba(0, 0, 0, 0.334);
  width: 350px;
  /* background-color: transparent; */
  height: 52px;
}

#readyToWatch {
  margin: 0 auto;
  overflow: auto;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  /* align-content: flex-start; */
  margin-bottom: auto;
  width: 843px;
  height: 25.31px;
}

.tv-preview-div {
  top: 1%;
  left: 44.5%;
  /* right: 1%; */
  position: relative;
  transform: translate(-70%, -80%);
  /* max-width: 70%; */
  max-width: 70%;
  max-height: 54%;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  margin-left: 250px;
}

.blank-tv {
  position: absolute;
  top: 19%;
  left: 10%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  margin-right: 1px;
  margin-left: 250px;
  width: 100%;
  /* background: transparent; */
}

.tv-video {
  width: 461px;
}

.download-section {
  border-top: 10px solid var(--netflixBorderBox);
  background-color: var(--netflixBlack);
  display: flex;
  /* margin: 0 auto; */

  justify-content: center;
  max-width: 100%;
  border: 10px solid green;
  /* justify-content: space-evenly; */
}

/* section 3 watch anywhere start */
.watch-everywhere-section {
  border-top: 10px solid var(--netflixBorderBox);
  background-color: var(--netflixBlack);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;
  width: 100vw;
}

.left-div-watch-everywhere {
  padding-top: 150px;
  margin-left: -180px;
  /* border: red 8px solid; */
}

#right-div-watch-everywhere {
  padding-top: 75px;
  margin-left: 350px;
  /* border: 5px solid green; */
}

#mac-video {
  top: 1%;
  right: 44.5%;
  position: relative;
  transform: translate(97%, -45%);
  width: 400px;
  height: 300px;
}

#mac-video-div {
  position: relative;
}

#mac-image {
  /* border: 5px solid red; */
  position: absolute;
  margin-top: -460px;
  margin-left: 100px;
}
/* watch anywhere section end */
/*******************************/

/******   section 4 kids  ******/
#kids-section {
  border-top: 10px solid var(--netflixBorderBox);
  background-color: var(--netflixBlack);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  max-width: 100%;
  width: 100vw;
  /* border: pink 5px solid; */
}

#left-div-kids {
  /* border: red 5px solid; */
  /* width: 105vw; */
  padding-top: 150px;
  /* padding-left: -200px; */
  /* margin-left: -490px; */
  /* padding-left: 50px; */
  margin-right: 0;
  overflow: hidden;
  /* align-items: flex-start; */
  /* text-align: left; */
}

#left-div-h1-kids {
  /* margin-left: auto; */
  /* border: 5px solid green; */
  margin-bottom: 3px;
  /* width: 32.5vw; */
  /* margin-left: auto; */
  font-size: 3rem;
}

#left-div-h3-kids {
  /* border: 5px solid yellow; */
  width: 858px;
  overflow: hidden;
  /* margin-left: auto; */
  padding-right: 100px;
  overflow: hidden;
  font-size: 1.3rem;
}

#right-div-kids {
  position: relative;
  /* margin-left: 500px; */
  /* width: 32.5vw; */
  /* padding-top: 75px; */
  /* margin-right: auto; */

  /* border: 5px solid pink; */
}
/****** section 4 kids end ******/
/*******************************/

/******   section 5 download  ******/
#download-section {
  border-top: 10px solid var(--netflixBorderBox);
  background-color: var(--netflixBlack);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  max-width: 100%;
  width: 100vw;
  /* border: pink 5px solid; */
}

#left-div-download {
  margin-bottom: 80px;
  margin-top: 80px;
  /* border: 6px solid pink; */
}

#right-div-download {
  padding-top: 240px;
  /* border: 6px solid red; */
  margin: 0;
  overflow: hidden;
  /* padding-right: 50px; */
}

#left-div-h1-download {
  width: 694.1px;
  font-size: 2.3rem;
  /* border: 6px solid pink; */
}

#left-div-h3-download {
  font-size: 1.5rem;
  margin-top: 2px;
  /* border: 6px solid green; */
}

#download-overlay {
  /* background-color: red; */
  background-color: var(--netflixBlack);
  border: 5px solid var(--netflixBorderBox);
  border-radius: 10px;
  width: 390px;
  height: 110px;
  /* margin-bottom: 50px; */
  transform: translate(37%, -134%);
  /* border: 5px solid red; */
  display: flex;
  /* flex-wrap: nowrap;
  justify-content: space-around; */
  align-items: stretch;
}

#download-overlay-image {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 7px;
  height: 95px;
}

#downloading-stragner-text {
  margin-top: -1px;
  font-size: 0.9rem;
  color: var(--netflixBlue);
  /* position: relative; */
  margin-left: 1px;
  position: absolute;
}

#stranger-text {
  color: var(--netflixWhite);
  margin-top: 30px;
  margin-left: 10px;
}

#download-icon-transform {
  /* display: flex; */
  position: relative;
  height: 50px;
  transform: translate(150%, 54%);
}
/****** section 4 download end ******/
/*******************************/

/******   section 6 FAQ   ******/
.faq {
  border-top: 10px solid var(--netflixBorderBox);
  background-color: var(--netflixBlack);
  text-align: center;
}

.faq-list-section {
  width: 1833px;
  height: 392px;
  /* 1833 x 392 */
  /* overflow: auto; */
  display: inline-block;
  overflow: hidden;
  text-align: center;
  align-content: flex-start;
}

li button {
  background-color: var(--faqButtons);
  color: var(--netflixWhite);
  width: 23%;
  max-width: 23%;
  text-align: left;
  margin-bottom: 5px;
  padding-left: 20px;
}

li {
  list-style-type: none;
}

p {
  color: var(--netflixWhite);
  margin-top: 2px;
  margin: 0px 95px;
  padding: 0px;
}
/******  section 5 FAQ end ******/
/*******************************/

.all-buttons {
  font-size: 0.875;
  /* padding: 0.25rem 1.375rem; */
  width: fit-content;
  border-radius: 3px;
}

h1 {
  /* font-size: 64px; */
  margin: 0px 95px;
  /* margin: 0px; */
  color: var(--netflixWhite);

  padding: 0px;
}

/* h6 {
  color: var(--netflixWhite);
  position: relative;
  font-weight: bolder;
} */

h2 {
  /* font-size: 64px; */
  margin: 0px 95px;
  /* margin: 0px; */
  color: var(--netflixWhite);

  padding: 0px;
}

h3,
h4 {
  color: var(--netflixWhite);
  position: relative;
  /* font-weight: bolder; */
}

span {
  height: 200px;
  font-size: 14pt;
}

h3 {
  /* font-size: 21.1px; */
}

@media (max-width: 2250px) {
  .container-fluid2 {
    /* padding: 0; */
    max-height: fit-content;
    max-width: 100%;
  }

  .main-buttons {
    /* margin-left: auto;*/
    /* max-width: 600px;  */
    align-content: flex-end;
  }

  .navigationBar img {
    max-width: 145px;
  }
}
