<div class="container-fluid2">
  <div class="newPlanContainer">
    <div class="newPlanContent">
      <span id = 'new'>new!</span>
      <span id="planStart">Plans now start at <span id="price">$6.99.</span></span>
      <button type="button" class="btn btn-link" id="learnMore">Learn More <span id="greaterIcon">></span></button>
    </div>
  </div>
  <div class="navigationBar">
    <img src="../assets/logo.png" alt="" />
    <div class="main-buttons btn-group">
      <button
        class="btn-outline-light dropdown-toggle mr-4 outline nohover all-buttons"
        data-toggle="dropdown"
        id="language"
        (click)="language()"
      >
        <i class="fa fa-globe"></i> English
      </button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item" lang="en" id="dropdown-op1"
          >English</a
        >
        <a href="#" class="dropdown-item" lang="es" id="dropdown-op2"
          >Español</a
        >
      </div>
      <button class="btn btn-danger mr-4 btn-sm all-buttons">Sign-in</button>
    </div>
  </div>
  <!-- section 1 get started-->
  <div class="top-middle-container">
    <div class="top-middle">
      <p id="unlimitedMovies">Unlimited movies, TV shows, and more.</p>
      <!-- <br /> -->
      <h3 id="watch-anywhere">Watch anywhere. Cancel anytime.</h3>
      <br />
      <p id="readyToWatch">
        Ready to watch? Enter your email to creatye or retart your membership.
      </p>
      <br />
      <div class="email-section">
        <span id="email-form">
          <input type="email" placeholder="Email address" id="email-input" />
          <button id="get_started">Get Started ></button>
        </span>
      </div>
    </div>
    
  </div>
  <!-- section 2 enjoy tv-->
  <div class="tvArea">
    <div class="left-div">
      <h1 id="left-div-h1">Enjoy on your TV.</h1>
      <h3 id="left-div-h3">
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
        players and more.
      </h3>
    </div>
    <div class="right-div">
      <div class="tv-preview-div">
        <video
          class="tv-video"
          name="Netflix Preview"
          autoplay
          loop
          [muted]="true"
        >
          <source src="../assets/video1.m4v" type="video/mp4" />
        </video>
      </div>
      <div class="blank-tv">
        <img src="../assets/tv_blank_screen.png" alt="" />
      </div>
    </div>
  </div>
  <!-- section 3 download -->
  <div class="download-section">
    <div id="download-section-left-div-image">
      <div id="phone-image">
        <!-- <img src="../assets/mobile-0819.jpg" alt="" class="TEST"> -->
      </div>
      <div id="download-animation-icon">
        <!-- <img src="../assets/boxshot.png" alt="" /> -->
      </div>
      <div class="right-div-backwards">
        <h1 id="right-div-h1">Download your shows to watch offline.</h1>
        <h3 id="right-div-h3">
          Save your favorites easily and always have something to watch.
        </h3>
      </div>
    </div>
  </div>
  <!-- section 4 watch everywhere section -->
  <div class="watch-everywhere-section">
    <div class="left-div">
      <h1 id="left-div-h1">Watch everywhere.</h1>
      <h3 id="left-div-h3">
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and
        TV without paying more.
      </h3>
    </div>
    <div class="right-div">
      <img src="../assets/computer.png" alt="" />
    </div>
  </div>
  <!-- section 5 kids section -->
  <div class="kids-section">
    <div class="left-div">
      <img src="../assets/create_profile.png" alt="" />
    </div>
    <div class="right-div">
      <h1 id="right-div-h1">Create profiles for kids.</h1>
      <h3 id="right-div-h3">
        Send kids on adventures with their favorite characters in a space made
        just for them—free with your membership.
      </h3>
    </div>
  </div>
  <!-- section 6 FAQ -->
  <div class="faq">
    <!-- <h1>Frequently Asked Questions</h1> -->
    <div class="faq-list-section">
      <p>Frequently Asked Questions</p>
      <br />
      <ul class="faq-list">
        <li class="faq-item">
          <button>What is Netflix?</button>
        </li>
        <li class="faq-item">
          <button>How much does Netflix cost?</button>
        </li>
        <li class="faq-item">
          <button>Where can I watch?</button>
        </li>
        <li class="faq-item">
          <button>How do I cancel?</button>
        </li>
        <li class="faq-item">
          <button>What can I watch on Netflix?</button>
        </li>
        <li class="faq-item">
          <button>Is Netflix good for kids?</button>
        </li>
      </ul>
      <p id=" ">
        Ready to watch? Enter your email to creatye or retart your membership.
      </p>
      <br />
      <span
        ><input type="email" name="" id="" placeholder="Email address" /><button
          id="get_started"
        >
          Get Started >
        </button></span
      >
    </div>
  </div>

  <!-- src/app/app.component.css -->
  <!-- https://www.youtube.com/watch?v=QMQr2V9GtMk&ab_channel=Eazy2Code -->
  <!-- https://www.youutube.com/watch?v=QMQr2V9GtMk&ab_channel=Eazy2Code -->
  <!-- https://www.youtube.com/watch?v=H9uAuKqqUkI&ab_channel=BCoder -->
</div>
<!-- ./assets/Top_background_large.jpg -->

<!-- background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(./assets/Top_background_large.jpg) no-repeat center center/cover; -->
