
<div class="container-fluid2">
  <div class="navigationBar">
    <img src="../assets/logo.png" alt="" />
    <div class="main-buttons btn-group">
      <button class="btn btn-light  clear-button" data-toggle="dropdown" id="language">
        <i class="fa fa-globe"></i> English &#9660;	
      </button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item" lang="en" id="dropdown-op1">English</a>
        <a href="#" class="dropdown-item" lang="es" id="dropdown-op2">Español</a>
      </div>
      <button class="btn btn-danger mr-4 btn-sm all-buttons-navbar">
        Sign-in
      </button>
    </div>
  </div>

  <!-- section 1 get started-->
  <div class="top-middle-container">
    <div class="top-middle">
      <p id="unlimitedMovies">Unlimited movies, TV shows, and more.</p>
      <p id="watch-anywhere">Watch anywhere. Cancel anytime.</p>
      <br />
      <p id="readyToWatch">
        Ready to watch? Enter your email to creatye or retart your membership.
      </p>
      <br />
      <div class="email-section">
        <span id="email-form">
        <div class="form-floating mb-2 email">
          <input type="email" class="form-control email-input" id="floatingInput" placeholder="Email address">
          <label for="floatingInput" class="email-input-floating">Email address</label>
          <button class="get_started">Get Started ></button>
        </div>
        </span>
      </div>
    </div>
  </div>
  <div id="pricePlan">
    <div class="popcorn">
      <img id= 'popcornImage' src="../assets/popcorn.png" alt="popcorn">
    </div>
    <div class="priceInfo">
      <p>The Netflix you love for just $6.99.</p>
      <p id="ads">Get the Standard with ads plan.</p>
      <a href="http://" target="_blank" rel="noopener noreferrer" id="learn"> Learn More   ></a>
    </div>
  </div>

  <!-- section 2 enjoy tv-->
  <div class="tvArea">
    <div class="left-div">
      <h1 id="left-div-h1">Enjoy on your TV.</h1>
      <h3 id="left-div-h3">
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
        players and more.
      </h3>
    </div>
    <div class="right-div" id="test">
      <div class="tv-preview-div">
        <video
          class="tv-video"
          name="Netflix Preview"
          autoplay
          loop
          [muted]="true">
          <source src="../assets/video1.m4v" type="video/mp4" />
        </video>
      </div>
      <div class="blank-tv">
        <img src="../assets/tv_blank_screen.png" alt="" />
      </div>
    </div>
  </div>
  
  <!-- section 3 watch everywhere -->
  <div class="watch-everywhere-section">
    <div class="left-div-watch-everywhere">
      <div class="mac-video-div">
        <video
          id="mac-video"
          name="Netflix Preview"
          autoplay
          loop
          [muted]="true">
          <source src="../assets/video2.m4v" type="video/mp4" />
        </video>
      </div>
      <img src="../assets/mac.png" alt="" id="mac-image" />
    </div>
    <div id="right-div-watch-everywhere">
      <h1 class="right-div-h1">Watch everywhere.</h1>
      <h3 class="right-div-h3">
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and
        TV without paying more.
      </h3>
    </div>
  </div>

  <!-- section 4 kids -->
  <div id="kids-section">
    <div id="left-div-kids">
      <h2 id="left-div-h1-kids">Create profiles for kids.</h2>
      <p id="left-div-h3-kids">
        Send kids on adventures with their favorite characters in a space made
        just for them—free with your membership.
      </p>
    </div>
    <div id="right-div-kids">
      <img src="../assets/kidsNew.png" alt="" />
    </div>
  </div>

  <!-- section 5 download -->
  <div id="download-section">
    <div id="left-div-download">
      <img src="../assets/mobile-0819.jpg" alt="" />
      <div id="download-overlay">
        <img src="../assets/boxshot.png" id="download-overlay-image" alt="" />
        <span id="stranger-text"
          >Stranger Things
          <p id="downloading-stragner-text">Downloading...</p></span>
        <img
          src="../assets/download-icon.gif"
          alt=""
          id="download-icon-transform"
        />
      </div>
    </div>
    <div id="right-div-download">
      <h2 id="left-div-h1-download">Download your shows to watch offline.</h2>
      <p id="left-div-h3-download">Only available on ad-free plans.</p>
    </div>
  </div>

  <!-- section 6 FAQ -->
  <div class="faq">
    <div class="faq-list-section">
      <h1 id="faq-header">Frequently Asked Questions</h1>
      <br />
      <ul class="faq-list">
        <li class="faq-item">
          <input type="radio" name="faq-list" id="first" class="faqDropdown"/>
          <label class="button-faq faqDropdown" for="first">What is Netflix?</label>
          <div class="content">
            <p class="content-para">
              Netflix is a streaming service that offers a wide variety of
              award-winning TV shows, movies, anime, documentaries, and more on
              thousands of internet-connected devices.
              <br />
              <br />
              You can watch as much as you want, whenever you want – all for one
              low monthly price. There's always something new to discover and
              new TV shows and movies are added every week!
            </p>
          </div>
        </li>
        <li class="faq-item">
          <input type="radio" name="faq-list" id="second" class="faqDropdown"/>
          <label for="second" class="button-faq faqDropdown">
            How much does Netflix cost?
          </label>
          <div class="content">
            <p class="content-para">
              Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from $22.99 to $6.99 a month. No extra costs, no contracts.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <input type="radio" name="faq-list" id="fourth" class="faqDropdown"/>
          <label class="button-faq" for="fourth" class="faqDropdown button-faq"> Where can I watch? </label>
          <div class="content">
            <p class="content-para">
              Watch anywhere, anytime. Sign in with your Netflix account to
              watch instantly on the web at netflix.com from your personal
              computer or on any internet-connected device that offers the
              Netflix app, including smart TVs, smartphones, tablets, streaming
              media players and game consoles.
              <br />
              <br />
              You can also download your favorite shows with the iOS, Android,
              or Windows 10 app. Use downloads to watch while you're on the go
              and without an internet connection. Take Netflix with you
              anywhere.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <input type="radio" name="faq-list" id="fifth" class="faqDropdown"/>
          <label class="button-faq faqDropdown" for="fifth"> How do I cancel? </label>
          <div class="content">
            <p class="content-para">
              Netflix is flexible. There are no pesky contracts and no
              commitments. You can easily cancel your account online in two
              clicks. There are no cancellation fees – start or stop your
              account anytime.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <input type="radio" name="faq-list" id="sixth" class="faqDropdown"/>
          <label class="button-faq faqDropdown" for="sixth">
            What can I watch on Netflix?
          </label>
          <div class="content">
            <p class="content-para">
              Netflix has an extensive library of feature films, documentaries,
              TV shows, anime, award-winning Netflix originals, and more. Watch
              as much as you want, anytime you want.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <input type="radio" name="faq-list" id="seventh"  class="faqDropdown"/>
          <label class="button-faq faqDropdown" for="seventh">
            Is Netflix good for kids?
          </label>
          <div class="content">
            <p class="content-para">
              The Netflix Kids experience is included in your membership to give
              parents control while kids enjoy family-friendly TV shows and
              movies in their own space.
              <br />
              <br />
              Kids profiles come with PIN-protected parental controls that let
              you restrict the maturity rating of content kids can watch and
              block specific titles you don’t want kids to see.
            </p>
          </div>
        </li>
      </ul>
      <div class="ready_container">
        <p>
          Ready to watch? Enter your email to creatye or retart your membership.
        </p>
        <br />
        <span>
        <div class="email-section">
          <span id="email-form">
          <div class="form-floating mb-2 email" id="email2">
            <input type="email" class="form-control email-input" id="floatingInput2" placeholder="Email address">
            <label for="floatingInput2" class="email-input-floating">Email address</label>
            <button class="get_started">Get Started ></button>
          </div>
          </span>
        </div>
        </span>
      </div>
    </div>
  </div>

  <!-- section 7 contact -->
  <div class="contact">
    <p id="questions">
      Questions? Call <a href="#" id="phone-number"> 1-844-505-2993</a>
    </p>
    <div class="contact-cols">
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Buy Gift Card</a></li>
        <li><a href="#">Cookie Preferences</a></li>
        <li><a href="#">Legal Notices</a></li>
        <button class="btn-outline-light dropdown-toggle mr-4 outline nohover all-buttons-navbar clear-button"
          data-toggle="dropdown" id="language-footer">
          <i class="fa fa-globe"></i> English
        </button>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item" lang="en" id="dropdown-op3">English</a>
          <a href="#" class="dropdown-item" lang="es" id="dropdown-op4">Español</a>
        </div>
      </ul>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Ways to Watch</a></li>
        <li><a href="#">Corporate Information</a></li>
        <li><a href="#">Only on Netflix</a></li>
      </ul>
      <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">Netflix Shop</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Do Not Sell or Share My Personal Information</a></li>
      </ul>
      <ul>
        <li><a href="#">Media Center</a></li>
        <li><a href="#">Redeem Gift Cards</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Speed Test</a></li>
        <li><a href="#">Ad Choices</a></li>
      </ul>
    </div>
  </div>
</div>
